version: '3.8'

services:
  angular-dev:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "4200:4200"
    volumes:
      - ./:/app
      - /app/node_modules
    container_name: angular_dev_container
    restart: unless-stopped
